<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.7.1/dist/jquery.slim.min.js"></script>

    <!-- Popper JS -->
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"></script>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
</head>
<body>
<h1>Lista zaposlenika za prikazom koliko su putnih naloga imali
    u nekom periodu (parametri - od datuma, do datuma)</h1>
<table class="table table-hover">
    <thead>
    <tr>
        <th>sifra_zaposlenika</th>
        <th>ime_zaposlenika</th>
        <th>prezime_zaposlenika</th>
        <th>maticni_broj_zaposlenika</th>
        <th>broj_putovanja</th>
    </tr>
    </thead>
    <tbody>
    <% for(let i = 0; i < prikaz.length; i++) { %>
        <tr>
            <td><%= prikaz[i].sifra_zaposlenika %></td>
            <td><%= prikaz[i].ime_zaposlenika %></td>
            <td><%= prikaz[i].prezime_zaposlenika %></td>
            <td><%= prikaz[i].maticni_broj_zaposlenika %></td>
            <td><%= prikaz[i].broj_putovanja %></td>
        </tr>
    <% } %>
    </tbody>
</table>

<script>

</script>
</body>
</html>
